@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@700&family=Roboto&display=swap');

/*---------------------------------------------Nav-Bar*/



.navbar-toggler{
    background-color: rgb(247, 172, 11);
}


.navbar-brand {
    color: rgb(247, 172, 11);
    font-weight: 700;
    font-family: raleway, sans-serif;
    text-align: center;
    
    
}

/*---------------------------------------------Hero image*/
.container-hero-image{

    background-image: url('assets/images/variouscheese.webp')
}