@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@1,600;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300&family=Raleway:ital,wght@0,700;1,500&family=Roboto&display=swap');



body {
    background-color: #F5F5F5;
}



/*---------------------------------------------Nav-Bar*/

.navbar-nav .nav-link.active {
    color: rgb(232, 248, 10);
}

.navbar-toggler {
    background-color: rgb(247, 172, 11);


}

.navbar-toggler:hover {
    background-color: rgb(232, 248, 10);

}


.nav-link:hover {
    color: rgb(232, 248, 10);
}



.navbar-brand {
    color: rgb(247, 172, 11);
    font-family: Bangers, sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;

}

.navbar-brand:hover {
    color: rgb(232, 248, 10);
}


.nav-link {
    color: rgb(247, 172, 11);
}

#offcanvasNavbarLabel {
    color: rgb(247, 172, 11);
    font-family: Bangers, sans-serif;
    font-size: 40px;

}

#offcanvasNavbar {
    background-color: #000000;
}


/*---------------------------------------------Hero image*/
#hero-image {

    background-image: url('../images/cheese-counter.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    display:flex;
    
}


.hero-text {
    max-width: 75%;
    background-color: rgba(247, 172, 11, 0.7);
}


.hero-text h1 {
    font-family: Bangers, Raleway, sans-serif;
    font-size: 75px;
}

.hero-text h2 {
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

/*---------------------------------------------About-Us*/

.our-services{
    margin-left: 8px;
    margin-right: 8px;
}


.about-us {
    font-family: raleway;
    font-size: medium;
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
}


.about-us h1 {
    padding-top: 35px;
    padding-bottom: 15px;
    color: rgb(247, 172, 11);
    font-size: 35px;
}


hr{
    border-radius: 5px;
    border: 2px solid rgb(247, 172, 11);
    opacity: 1;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}




/*---------------------------------------------Our-services*/

.col-sm-4 a h2 {
    text-align: center;
    color: rgb(247, 172, 11);

}

.col-sm-4 {
    padding-top: 35px;
}

.col-sm-4 a {
    text-decoration: none;
}

.img-thumbnail {
    padding: 10px;
}


/*---------------------------------------------Testimonials*/

.card{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.testimonials-heading {
    text-align: center;
    padding-top: 40px;
    font-family: raleway;
    font-weight: 500;
}

.testimonials-heading p{
    font-size: medium; 
}

.blockquote p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: small;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.testimonials-heading h2{
    text-align: center;
    margin-top: 20px;
    
}

/*---------------------------------------------footer*/



.footer-bottom {

    margin: auto;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: relative;
    min-height: 100%;

}

.logo-footer-text h2 {
    color: rgb(247, 172, 11);
    font-family: Bangers, sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-bottom:0px;
}

.social-networks {
    text-align: center;
    margin-right: 32px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: rgb(247, 172, 11);
}

.social-networks i:hover{
    color: rgb(232, 248, 10) ;
}

.footer-contact h4{
    color:rgb(247, 172, 11);
    font-family: bangers, sans-serif;
    margin-bottom: 0;
    
}

.social-networks a:hover{
    color: rgb(232, 248, 10);
}


.footer-contact{
    text-align: center;
    color: rgb(247, 172, 11);
}

.footer-contact a{
    color: rgb(247, 172, 11);
    text-decoration:none
}

.footer-contact a:hover{
    color: rgb(232, 248, 10);
}

.footer-contact address{
    margin-bottom: 0;
}



/*---------------------------------------------our-cheese-page--hero-image*/



#ourcheese-bg-img {
    background: url('../images/ourcheese-hero-opaque.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    display:flex;
}

.hero-cover-text{
    max-width: 75%;
    background-color: rgba(247, 172, 11, 0.7);
}


/*---------------------------------------------our-cheese-page--main-cheese*/


/* If screen size is more than 600px wide, set the font-size of <div> to 20px */
@media screen and (min-width: 600px) {
    .cheese-thumbnail {
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%
    }
    .cheese-intro-text p{
        font-size: 20px;
    }
}

.hero-cover-text h1 {
    font-family: Bangers, Raleway, sans-serif;
    font-size: 75px;
}

.hero-cover-text h2 {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    
}


.cheese-thumbnail img {
    float: right;
    margin-right: 10%;
    text-align: left;
    margin-left: 10%;
    width: 170px;
    border-style: ridge;

}

.cheese-thumbnail {
    margin:  10%;

}


.cheese-brie-cont p {
    font-size: small;
}

.cheese-intro-text {
    font-family: raleway;
    font-size: medium;
    text-align: center;
}

.cheese-intro-text h1 {
    padding-top: 35px;
    color: rgb(247, 172, 11);

}

.cheese-intro-text p{
    text-align: center;
    margin-left:15%;
    margin-right: 15%;
    padding: 10px;
    
}


/*---------------------------------------------form*/



.contact-image {
    background-image: url("../images/enquiry-fireworksimage.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    opacity: 1;

}

.contact-img-text {

    height: 215px;
    background-color: rgba(247, 172, 11, 0.7);
    text-align: center;
    font-family: Raleway, sans-serif;
    padding-top: 23px;
    

}

.contact-img-text p{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


.contact-us-form {

    font-family: raleway, sans-serif;
    padding: 30px 20px 30px 20px;
    margin-left: 8%;
    margin-right: 8%;
}



.form-input {

    color: black;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
}


.btn {

    background-color: rgb(247, 172, 11);
    border: rgb(247, 172, 11);
    color: #000000;
    margin: auto;
    display: block;
}



#event-info {
    margin: auto;
    width: 100%;
}

#textarea-label {

    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 25px;
}

input[type="radio"] {
    margin: 0 5px 0 5px;
}


input[type="email"] {
    width: 100%;
}


form p {
    margin-top: 25px;
}